<div id="body">
    <section class="content-wrapper main-content clear-fix">
        <h3>Service contents</h3>
        <ol class="round">
            <li class="one">
                <h5>Get energy values from server</h5>
                <a href="http://localhost:1412/api/energy">/api/energy</a>
            </li>

            <li class="two">
                <h5>???</h5>
            </li>
        </ol>
    </section>
</div>
