@model SolarManager.Models.SolarContext
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    <li>Grid State:@ViewData["gridState"]  </li>
    <li>Panel Production:@ViewData["panelProduction"]</li>
    <li>Active Source:@ViewData["activeSource"]</li>
    <li>Multiplexer Energy:@ViewData["muxEnergy"]</li>
</ul>
