body {

}

#main {
width: 961px;
margin:auto;
}

.border {
border: 1px solid gray;
}

#main {
    width:961px;
    
}

#heading {
width:961px;
height: 130px;

}

#currentConsumption {
    width:300px;
height: 300px;
margin-left: 10px; 
margin-right: 10px; 
}
#totalConsumption {
    width:450px;
height: 300px;
margin-left: 10px; 
margin-right: 10px; 
}
#admin 
{
    width:150px;
height: 200px;
margin-left: 10px; 
}

.fourBox {
width:215px;
height: 200px; 
margin-left: 10px;
margin-right: 10px;
float:left;
}

.float_left {
float:left;

}

.margin_top {
    clear:both; 
margin-top: 20px; 
}

 #solarProduction {
}


#BoxWrapper {
margin-top: 20px; 
}
input [type=submit]{
	border:1px solid #3d3d3d;
	background:#006600;
	color:#FFFFFF;
	padding: 10px;
	margin:0;
	cursor: pointer;
}
